#r0 {
    width: 400px;
    height: 800px;
}

#r1 {
    width: 400px;
    height: 800px;
}

#r4 {
    width: 400px;
    height: 800px;
}

.r0 {
    margin: 80px;
}

.r1 {
    margin-left: 80px;
}

.r4 {
    width: 400px;
    height: 800px;
}

#ui {
    height: 50px;
    width: 119px;
}

.ui {
    width: 119px;
}

body {
    background-color: lightslategray;
    color: black;
    text-align: center;
    margin: 15px;
}